@mixin filter-input {
  position: relative;
  background: #ffffff;
  border: 1px solid #c2cfe0;
  border-radius: 5px;
  min-width: 162px;
  padding: 6px 0 6px 12px;
  font-size: 14px;
  line-height: 16px;
  z-index: 1;
  transition: 0.4s all ease;
  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 30px;
    right: 0;
    top: 0;
    border-left: 1px solid #c2cfe0;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    top: 50%;
    right: 15px;
    background-color: transparent;
    border-right: 2px solid #c2cfe0;
    border-bottom: 2px solid #c2cfe0;
    transform: translate(50%, -75%) rotate(45deg);
  }

  ul,
  .select__items {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    min-width: 183px;
    border: 1px solid #c2cfe0;
    border-radius: 5px;
    list-style: none;
    background: #fff;

    li {
      padding: 8px 11px;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}

@mixin table-checkbox() {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    border: 2px solid #c2cfe0;
    border-radius: 5px;
    background: white;
    transform: translateX(55%);
  }

  // Box hover
  &:hover + label:before {
    border: 2px solid transparent;
    background: #0288d1;
  }

  // Box checked
  &:checked + label:before {
    border: 2px solid transparent;
    background: #0288d1;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 18px;
    top: 10px;
    background: white;
    width: 3px;
    height: 3px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
